
@model List<Blog>

@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayoutPartial/_WriterLayout.cshtml";
}



<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <code class="card-title" style="color:darkred">Paylaşımlarım</code>
                @*<p class="card-description">
            Add class <code>.table-hover</code>
        </p>*@
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Blog Başlığı</th>
                            <th>Oluşturulma Tarihi</th>
                            <th>Kategori</th>
                            <th>Durumu</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (Blog item in Model)
                        {
                            <tr>
                                <td><b>@item.BlogID</b></td>
                                <td>@item.BlogTitle</td>
                                <td>@item.BlogCreateDate.ToShortDateString()</td>
                                <td>@item.Category.CategoryName</td>
                                @if (!item.BlogStatus)
                                {
                                    <td><span class="alert-danger">@item.BlogStatus</span></td>
                                }
                                else
                                {
                                    <td><span class="alert-info">@item.BlogStatus</span></td>
                                }
                                <td><a asp-controller="Blog" asp-action="UpdateBlog" asp-route-blogId="@item.BlogID" class="btn btn-outline-warning ml-sm-auto">Güncelle</a></td>
                                @if (!item.BlogStatus)
                                {
                                    <td><a href="@Url.Action("DeleteBlog","Blog",new {blogId=item.BlogID })" class="btn btn-outline-danger disabled ml-sm-auto">Sil</a></td>
                                }
                                else
                                {
                                    <td><a href="@Url.Action("DeleteBlog","Blog",new {blogId=item.BlogID })" class="btn btn-outline-danger ml-sm-auto">Sil</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="@Url.Action("AddBlog","Blog")" class="btn btn-outline-primary ml-sm-auto">Yeni Blog Oluştur</a>
            </div>         
        </div>
    </div>

</div>


