
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<script src="~/lib/jquery/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

@model UserSignUpVM
<!--/main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Yazar Kayıt Paneli</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form asp-controller="RegisterUser" asp-action="Index" method="post">

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Adınız Soyadınız</label>
                            
                            <input asp-for="@Model.NameSurname" type="text" required="" class="form-control" placeholder="">
                            <span asp-validation-for="NameSurname" class="text-danger"></span>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Kullanıcı Adınız</label>

                            <input asp-for="@Model.UserName" type="text" required="" class="form-control" placeholder="">
                            <span asp-validation-for="UserName" class="text-danger"></span>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Mail Adresiniz</label>

                            <input asp-for="@Model.Mail" type="email" class="form-control" for="validationCustom01" placeholder="">
                            <span asp-validation-for="Mail" class="text-danger"></span>
                        </div>
                    </div>
                  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Şifre</label>

                            <input asp-for="@Model.Password" required="" type="password" class="form-control" placeholder="">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword2 mb-2">Şifreyi Tekrar Giriniz</label>

                            <input asp-for="@Model.ConfirmPassword" required="" class="form-control" type="password" id="password2" placeholder="Şifrenizi Tekrar Giriniz">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <p>
                                <input href="#" type="checkbox" style="font-size:large" id="Swal" value=""><label for="validationCustom01">Tüm şartları okudum, Kabul ediyorum.</label>
                            </p>
                            <button style="margin-top:15px" type="submit" class="btn btn-primary submit mb-4 btn-block">Kaydet</button>
                        </div>
                    </div>
                    <div class="form-row" asp-validation-summary="ModelOnly">

                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<!--//main-->
<script>

    $("#Swal").click(function () {
        swal("Site Kabul Şartları", "KVKK kuralları gereği vs vs vs...", "success");

    })
</script>

