

@model IEnumerable<EntityLayer.Concrete.Blog>

<table class="table">
    <thead>
        <tr>
            <th> Blog Resim </th>
            <th> Başlık </th>
            <th> Kategori </th>
            <th> Tarih </th>
            <th>  </th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@item.BlogImage" class="mr-2" alt="image">
            </td>
            <td>
                @item.BlogTitle
            </td>

            <td>
                <label class="badge badge-gradient-success">@item.Category.CategoryName</label>
            </td>
            <td> @item.BlogCreateDate.ToString("dd-MMM-yyyy") </td>
            <td> <a href="@Url.Action("BlogReadAll","Blog",new {blogid=item.BlogID })" class="btn btn-outline-primary">Detay</a></td>

        </tr>
        }


    </tbody>
</table>